.header{
    padding: 80px;
    text-align: center;
    background: #000000;
    color: white;
}

.h1 {
    font-size: 10px;
}
.navbar{
    overflow: hidden;
    background-color: aqua;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a.right {
    float: right;
}
.navbar a:hover {
    background-color: pink;
    color: black;
}

* {
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 30%;
    background-color: gray;
    padding: 20px;
}
.main {
    flex: 70%;
    background-color: blueviolet;
    padding: 20px;
}
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}
/* @media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}
@media screen and (min-width) {
    .navbar a {
        float: none;
        width: 100%;
    }
    
} */
